<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="container mt-5">
  <h4 class="text-secondary text-center mb-4">Registered Users</h4>
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let res of res_data">
      <div
        class="card h-100 shadow-lg border-0 rounded-4 bg-white animate__animated animate__fadeIn animate__delay-1s hover-card"
      >
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
       <div>{{ getTimeAgo(res.createdAt) }}</div>
            <h5 class="card-title text-primary fw-bold">{{ res.fullname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ res.email }}</h6>
            <p class="card-text text-secocreatedAtndary small">{{ res.password }}</p>
          </div>
          <div class="mt-3 d-flex justify-content-center">
            <button
              class="btn btn-danger btn-sm m-2 shadow-sm active-scale"
              (click)="deleteUser(res._id)"
            >
              <i class="bi bi-trash"></i> Delete
            </button>
            <button
              class="btn btn-warning btn-sm m-2 shadow-sm active-scale text-white"
              (click)="editUser(res)"
            >
              <i class="bi bi-pencil"></i> Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

